body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 2px solid #e5e1e1;
}
th, td {
  padding: 10px;
}
label {
  font-size: 1.2em;
  font-weight: bold;
}